BasedOnStyle: Google
Standard: c++20
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
FixNamespaceComments: true
NamespaceIndentation: None
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
ForEachMacros:
  - Q_FOREACH
  - foreach
StatementMacros:
  - Q_OBJECT
  - Q_GADGET
  - Q_PROPERTY
  - Q_SIGNALS
  - Q_SLOTS
  - signals
  - slots
